<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center" style="height:100vh;">
                <form action="" @submit.prevent="" class="w-50">
                    <div>
                        <label for="username" class="form-label">Username: </label>
                        <input type="text" class="form-control" id="username" v-model="username">
                        <label for="username" class="text-danger fw-bold" v-if="usernameError == true">minimal username 8 karakter</label>
                    </div>
                    <div>
                        <label for="password" class="form-label">Password: </label>
                        <input type="password" class="form-control" id="password" v-model="password">
                        <label for="password" class="text-danger fw-bold" v-if="passwordError == true">minimal password 8 karakter</label>
                    </div>
                    <div>
                        <label for="passwordRetype" class="form-label">Retype Password: </label>
                        <input type="password" class="form-control" id="passwordRetype" v-model="passwordRetype">
                        <label for="passwordRetype" class="text-danger fw-bold" v-if="passwordRetypeError == true">password retype tidak sama dengan password</label>
                        
                    </div>
                    <div class="mt-3">
                        <input type="submit" class="form-control btn btn-primary" value="Register">
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="module">
        import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

        createApp({
            data(){
                return{
                    username:'',
                    password:'',
                    passwordRetype:'',
                    usernameError:false,
                    passwordError:false,
                    passwordRetypeError:false
                }
            },
            watch:{
                username(value){
                    if(value.length < 8){
                        // alert('Minimal username 8 karakter boss')
                        this.usernameError = true
                    }else{
                        this.usernameError = false
                    }
                },
                password(value){
                    if(value.length < 8){
                        this.passwordError = true
                    }else{
                        this.passwordError = false
                    }
                },
                passwordRetype(value){
                    if(this.password != value){
                        this.passwordRetypeError = true
                    }else{
                        this.passwordRetypeError = false
                    }
                }
            }
        }).mount('#app')

    </script>

</body>
</html>